<section>
    <section class="vh-100" style="background-color: rgb(194, 194, 194);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Edit catagory</h3>
                            <form action="/admin/editCatagory/{{user._id}}" method="post">
                                
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example1">catagory name</label>
                                    <input name="catagoryName" type="text" id="form2Example1" class="form-control" value="{{user.catagoryName}}"/>
                                </div>
                                <div class="form-outline mb-4">
                                    
                                    <input name="catagoryOffer" type="number" id="form2Example1" class="form-control" max="100" min="0" value="{{user.catagoryOfferRate}}" hidden/>
                                </div>
                                
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example2">catagory details</label>
                                    <input name="catagoryDetail" type="text" id="form2Example2" class="form-control" value="{{user.catagoryDetail}}"/>

                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-block mb-4">add catagory</button>
                            </form>
                    
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- {{>user-footer}} --}}
    </section>
</section>
