<section class="bg-light ">
    <div class="contain">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo/new.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Tech Park
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item  pe-3">
                            <a class="nav-link active" aria-current="page" href="/allProducts"><i class="fs-3 bi bi-boxes"></i></a>

                        </li>
                        <li class="nav-item  pe-3">
                            <a class="nav-link active" aria-current="page" href="/user/cart"><i
                                    class="fs-3 bi bi-cart"><span class="fs-5 badge bg-success"
                                        id="cartCount">{{cartCount}}</span></i></a>
                        </li>
                        <li class="nav-item me-4 pe-5 marlf">
                            <a class="nav-link active" aria-current="page" href="/user/wallet"><i class="fs-3 bi bi-wallet2"></i></a>
                        </li>
                        <li class="nav-item   ">
                            <a class="nav-link active" href="/user"><i class="fs-3 bi-person-circle"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>