<section>
    <section class="vh-100" style="background-color: rgb(194, 194, 194);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Enter New Password</h3>
                            <h4 class="mb-5 text-primary">{{user.email}}</h4>
                            <form action="/user/changePassword" method="post" id="changePassword">
                               <input type="text" name="Id" value="{{user._id}}" hidden>
                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example2">New Password</label>
                                    <input name="password" type="password" id="password" class="form-control" />

                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example2">Confirm Password</label>
                                    <input name="repassword" type="password" id="repassword" class="form-control" />

                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">Change</button>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- {{>user-footer}} --}}
    </section>

</section>
<script>
    $(document).ready(function(){
        $("#changePassword").validate({
            rules:{
                password:{
                    required:true,
                    minlength:4,
                    maxlength:10,
                },
                repassword:{
                    required:true,
                    equalTo: "#password"
                }
            },
            
        })
    })
</script>