<section>
    <section class="vh-100" style="background-color: rgb(194, 194, 194);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">enter your current password</h3>
                            <h4 class="md-5 text-primary">{{user.email}}</h4>
                            <form action="/user/confirmUser" method="post" id="confirmform">
                                <!-- Email input -->
                              
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example2">Password</label>
                                    <input name="password" type="password" id="password" class="form-control" required/>

                                </div>
                                <input type="text" name="Id" value="{{user._id}}" hidden>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4" >Sign in</button>
                            </form>
                         
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- {{>user-footer}} --}}
    </section>
</section>
<script>
    $(document).ready(function(){
        $('#confirmform').validate({
            rules:{
                password:{
                    required:true,
                    minlength:4,
                    maxlength:10,
                }
            }
        })
    })
</script>